
// 布局
$home-layout-menu-width: 240px;
$home-layout-header-height: 50px;
$rule-layout-menu-width: 240px;
$rule-layout-breadcrumb-height: 40px;


// 边框颜色
$border-c-week-grey: rgb(234, 234, 234);

// 主题色
$theme-c-blue: #409eff;
$theme-bc-blue: rgba(64, 158, 255, 0.1);
